@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acces interzis";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nu aveți acces la această resursă.</p>
</header>
