@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Inregistreaza-te";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Asociați-vă @Model.ProviderDisplayName contul.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Te-ai autentificat cu succes <strong>@Model.ProviderDisplayName</strong>.
    Vă rugăm să introduceți mai jos o adresă de e-mail pentru acest site și să faceți clic pe butonul Înregistrare pentru a finaliza
    autentificare.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Te rog introdu e-mailul tău." />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Inregistreaza-te</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
