@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Am uitat confirmarea parolei";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vă rugăm să vă verificați e-mailul pentru a vă reseta parola.
</p>
