@page
@model LockoutModel
@{
    ViewData["Title"] = "Închis pe dinafară";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Acest cont a fost blocat, vă rugăm să încercați din nou mai târziu.</p>
</header>
