@page
@model Disable2faModel
@{
    ViewData["Title"] = "Dezactivați autentificarea cu doi factori (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Această acțiune dezactivează doar 2FA.</strong>
    </p>
    <p>
        Dezactivarea 2FA nu modifică cheile utilizate în aplicațiile de autentificare. Dacă doriți să schimbați cheia
        ar trebui folosit într-o aplicație de autentificare <a asp-page="./ResetAuthenticator">resetați cheile de autentificare.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Dezactivați 2FA</button>
    </form>
</div>
