@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Seteaza parola";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Seteaza parola ta</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    Nu aveți un nume de utilizator/parolă local pentru acest site. Adăugați un local
    cont astfel încât să vă puteți conecta fără autentificare externă.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Vă rugăm să introduceți noua parolă." />
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Vă rugăm să confirmați noua parolă." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Seteaza parola</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
